# .github/workflows/main_sistemaspropify-staging.yml
name: Build and deploy Python app to Azure Web App - sistemaspropify (staging) #cambio

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies (cairo)
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev pkg-config

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !**/__pycache__/
            !**/*.pyc
            !.git/
            !.github/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CC296C99C08C4C49ACE2CF136E4AA36B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_63E591395DF941FCAE6A2B2236E3050F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D58AA9344F9646438FAEFCA71545B2EB }}

      - name: Deploy to Azure Web App (staging)
        uses: azure/webapps-deploy@v3
        with:
          app-name: "sistemaspropify"
          slot-name: "staging"
          package: .